.App {
  text-align: center;
}

canvas { 
  margin-bottom:100px;
  background-color : #eee;
}

#container {
  padding:100px;
  text-align: center;
  display: flex;
  flex-direction: column;
}

table {
  border : 1px solid grey;
} 

th {
  font-size: larger;
  padding: 10px;
  border-bottom : 1px solid grey;
}

table tr {
  border-bottom : 1px solid grey;
}

table tr:nth-child(even){
  background: #CCC
}

table tr:nth-child(odd){
  background: #FFF
}

td {
  font-size: larger;
  padding: 10px;
  border-right : 1px solid grey;
}
